<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h2 class="section-heading text-center">Kitchener-Waterloo</h2>
            <hr class="primary">
            <h3>Where to Stay</h3>
            <p>
                We have reserved blocks of rooms at the following hotels
            </p>
            <table class="table table-striped">
                <tr>
                    <th class="col-md-2">Delta Hotels by Mariott</th>
                    <td>
                        The Delta is conveniently located a short 5 minute drive from the venue.
                        Use this link to book at the <a href="https://www.marriott.com/meeting-event-hotels/group-corporate-travel/groupCorp.mi?resLinkData=Scharrer/Bianchi%20Wedding%20Room%20Block%5Eykfdw%60SB5SB5A%7CSB5SB5B%60169%60CAD%60false%604%6010/19/18%6010/21/18%6009/05/18&app=resvlink&stop_mobi=yes">Delta</a>.
                        The hotel is located at <a href="https://goo.gl/maps/nRWUXL9hWcn">10 Erb Street West, Waterloo, ON N2L 0C6</a>
                    </td>
                </tr>
                <tr>
                    <th>Crowne Plaza</th>
                    <td>
                        The Crowne Plaza is a slightly longer 10 minute drive from the venue.
                        Use this link to book at the <a href="https://www.crowneplaza.com/redirect?path=hd&brandCode=CP&localeCode=en&regionCode=1&hotelCode=YKFCP&_PMID=99801505&GPC=SBW&viewfullsite=true">Crowne Plaza</a> or reference the group code SBW when you call in.
                        The hotel is located at <a href="https://goo.gl/maps/vP3ZNdKHmoC2">105 King Street East, Kitchener, ON N2G 2K8</a>
                    </td>
                </tr>
            </table>
            <hr class="primary">
            <h3>Brunch</h3>
            <p>Who doesn't love a Sunday morning brunch</p>
            <h4>Bauer Kitchen</h4>
            <p>
                <a href="https://goo.gl/maps/eciznKHyrSA2">Located</a> a few minutes from the Delta, Bauer Kitchen has fantastic eggs benedict and french toast. Check out their menu <a href="http://www.thebauerkitchen.ca/brunch">here</a>.
            </p>
            <h4>Belmont Bistro</h4>
            <p>
                For those picking up their car in the morning, this <a href="https://goo.gl/maps/oybJB2st1VU2">spot</a> is real close to the venue. This is a popular spot with limited seating, but definitely worth it. Here's what they have to <a href="http://www.belmontbistro.ca/#menu-section">offer</a>.
            </p>
            <h4>Korner Kitchen</h4>
            <p>
                This one is a bit of a <a href="https://goo.gl/maps/mF2ed15gBZ62">drive</a>, but one of Val and Sam's favourites. It's more of a traditional bacon 'n eggs type breakfast. Check out their <a href="http://kornerkitchen.ca/menu.html">menu</a>.
            </p>
            <h4>City Café</h4>
            <p>
                For those in a hurry or who prefer an on-the-go breakfast, City Café has great woodfire bagels and croissants. They have three <a href="https://citycafebakery.ca/">locations</a> around town. The Lancaster Street location is most convenient for those heading out from the Delta and the Ottawa Street location is most convenient for those at the Crowne. City Café accepts cash only.
            </p>
        </div>
    </div>
</div>
