<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h2 class="section-heading text-center">Our Story</h2>
            <hr class="primary">
            <p>
                Sam and Val met in January 2015 at an office warming party. They connected after a few rounds of games and went on their first date a week later.
            </p>
            <p>
                Sam proposed on Thanksgiving weekend 2017. He sent Val on a romantic scavenger hunt around town with a stop at each of their favourite places.
            </p>
        </div>
    </div>
</div>
